.logo {
    height: 40px;
    left: 319px;
    position: fixed;
    top: 37px;
    width: 148px;
}

.nav {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    gap: 28px;
    position: relative;
    width: 640px;
}

.navItem {

}